@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f3f3f3;
}

header {
    background-color: #333333;
    padding: 0.25rem 0 0.25rem 1.5rem;
    color: white;
}

h3 {
    font-size: .75rem;
    font-weight: 400;
    margin: 0;
}

main {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    background-color: rgb(226, 226, 226);
    padding-left: 1.5rem;
    padding-top: 1rem;
    width: 10rem;
    height: 100vh;
}
.tabs {
    cursor: pointer;
    margin-bottom: 8px;
    border-radius: 6px;
    width: 80%;
    padding: 4px 4px 4px 4px;
}

.tabs:hover {
    background-color: rgb(199, 199, 199);
}


span {
    margin-right: 5px;
}

.add {
    border:none;
    background-color: rgb(226, 226, 226);
    cursor: pointer;
    border-radius: 8px;
    padding: 8px;
}
.add:hover {
    background-color: rgb(199, 199, 199);
}

#main-content {
    padding-left: 3rem;
}

.task-card {
    display: flex;
    padding:.25rem;
    align-items: center;
    gap: 5rem;
    border-radius: 6px;;
}

.task-card:hover {
    background-color: rgb(226, 226, 226);
}

